
    
    
<div class="container">
    <div class="field_button"  style="float: right;padding:2px 2px">
        <div class="field_button_1">
            <a  [routerLink]="['/add']" >Add New</a>
        </div>
    </div>
    <div class="search_box">
        <div class="serch_input">
            <input type="text" placeholder="Search With Keybords...." [(ngModel)]="searchText"  />
        </div>

        <div class="margin_set" *ngFor="let idea of ideas | filter : searchText">
            <div class="search_detail">
                <p class="Implement">{{idea.MainIdea ? idea.MainIdea : ''}}</p>
                <p class="idea">{{idea.keywords ? idea.keywords : ''}}</p>
            </div>
        </div>
    </div>
</div>